@import 'tailwindcss';
:root {
    --main-bg-gray: #212121;
    --secondary-bg-gray: #0f0f0f;
    --border-gray: #303030;
    --text-gray: #ababab;
    --text: #FFF;
    --violet-col: #766ac8;
    --hover-col: rgba(255, 255, 255, 0.05);
}
[data-theme="light"] {
    --main-bg-gray: #e6e8eb;
    --secondary-bg-gray: #ffffff;     /* карточки и сообщения - чистый белый */
    --border-gray: #d1d7db;           /* чёткие границы для разделения компонентов */
    --text-gray: #65676b;             /* приглушенный текст для времени, статусов */
    --text: #1c1e21;                  /* основной текст - тёмный, читаемый */
    --violet-col: #4da6ff;      /* синий акцент как в мессенджерах */
    --hover-col: rgba(0, 132, 255, 0.08); /* лёгкий синий hover */
}

@theme {
    --color-bg-main: var(--main-bg-gray);
    --color-bg-secondary: var(--secondary-bg-gray);
    --color-border: var(--border-gray);
    --color-text: var(--text);
    --color-text-secondary: var(--text-gray);
    --color-violet-col: var(--violet-col);
    --color-hover-col: var(--hover-col);
}
body{
    color: var(--text);
}
button, a{
    cursor: pointer;
}